.dark-purple {
  background-color: #400f77;
}
.purple {
    color:#BA0EF6;
}
.truculenta {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.right-align {
    transform:translateX(900px)
}
.right-align-plus {
    transform:translateX(1100px)
}
.oleo {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
}