.dark-purple {
  background-color: #400f77;
}
.purple {
    color:#BA0EF6;
}
.truculenta {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.right-align {
    transform:translateX(900px)
}
.right-align-plus {
    transform:translateX(1100px)
}
.oleo {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
}
.blue-bg {
  background-color: #707FEA;
}
.gray {
  color: #C7C2C2;
}
.shift-right {
  transform:translateX(200px)
}
.dark-gray {
  background-color: #495660;
}
.nunito {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
.navbar {
  border: 1px #000 dashed;
	padding: 0px 10px;
	margin: 20px 0px;
}