* {
  --bs-gutter-x: 0 !important;
}
.dark-purple {
  background-color: #400f77;
}
.purple {
    color:#BA0EF6;
}
.truculenta {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.oleo {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
}
.blue-bg {
  background-color: #707FEA;
}
.shift-right {
  transform:translateX(200px)
}
.dark-gray {
  background-color: #495660;
}
.nunito {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
.purple-blue {
  background-color: #7B3BE3;
}
.sans-caption {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.purple-background {
  background-color: #9927AA;
}
.purple-card {
  background-color: #7352B9;
  height: 500px;
  border-radius:20%;
}
.gray-background {
  background-color: #BDBCBB;
}
#myProgress1 {
  width: 50%;
  background-color: #ddd;
  border-radius: 5%;
}

#myBar1 {
  width: 75%;
  height: 80px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 80px;
  color: white;
  border-radius: 5%;
}
#myProgress2 {
  width: 50%;
  background-color: #ddd;
  border-radius: 5%;
}

#myBar2 {
  width: 55%;
  height: 80px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 80px;
  color: white;
  border-radius: 5%;
}
#myProgress3 {
  width: 50%;
  background-color: #ddd;
  border-radius: 5%;
}

#myBar3 {
  width: 35%;
  height: 80px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 80px;
  color: white;
  border-radius: 5%;
}
#myProgress4 {
  width: 50%;
  background-color: #ddd;
  border-radius: 5%;
}

#myBar4 {
  width: 15%;
  height: 80px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 80px;
  color: white;
  border-radius: 5%;
}
#myProgress5 {
  width: 50%;
  background-color: #ddd;
  border-radius: 5%;
}

#myBar5 {
  width: 15%;
  height: 80px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 80px;
  color: white;
  border-radius: 5%;
}

.title {
  font-size: 60px;
}

.sub-title {
  font-size: 40px;
}

.subtitle {
  font-size: 30px;
}

.h4 {
  font-size: 25px;
}

.h5 {
  font-size: 20px;
}

img {
  border-radius: 20px;
}

img:hover {
  box-shadow: 10px 5px 5px blue;
}